<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>USTHB-etudiant</title>
</head>
<body>
 <div class="container">
    <header>
        <nav>
           <h3> &ensp;Tele-Ens</h3><br>
            <ul class="lis"> 
                <li><a href="acceuil.html"><img src="../../assets/ICON/home.png" height="28" width="28" alt="home_img"> &ensp;Acceuil</a></li>
                <li ><a href="etudiant_cours.html"><img src="../../assets/ICON/book.png"  height="28" width="28" alt="cour_img"> &ensp;Cours</a></li>
                <li id="main"><a href="etudiant_devoir.html"><img src="../../assets/ICON/homework.png"  height="28" width="28" alt="Devoir_img"> &ensp;Devoir</a></li>
                <li><a href="UMail.html"><img src="../../assets/ICON/live.png" height="28" width="28" alt="live_img">&ensp;UMail</a></li>
    
            </ul> 
            <ul class="list2"> 
                <li  ><a href="acceuil.html"><img src="../../assets/ICON/home.png" height="28" width="28" alt="home_img"></a></li>
                <li  ><a href="etudiant_cours.html"><img src="../../assets/ICON/book.png"  height="28" width="28" alt="cour_img"></a></li>
                <li id="main2"><a href="etudiant_devoir.html"><img src="../../assets/ICON/homework.png"  height="28" width="28" alt="Devoir_img"></a></li>
          
                <li><a href="UMail.html"><img src="../../assets/ICON/live.png" height="28" width="28" alt="live_img"></a></li>
    
            </ul>
           
        </nav>
        <div class="entete">
            <div class="top"><img   src="../../assets/ICON/logo.png" height="100"><br>
                 
                <img  id="profil"  src="../../assets/ICON/user.png" height="60">
                </div>
            <div class="matricule">
                Nom:
                <br>Prenom
                <br>Matricule:199999999999999</div>
        </div>
         </header>
     
      
    <div class="cont">
     
            <div class="cont_cour">
                <a href="etudiant_devoir_comment.html">
                <div class="cour">
                    <div class="left_cour"> 
                        <img src="../../assets/IMAGE/devoir.jpg" height="80">
                    </div>

                    <div class="info_cour">
                            devoir "exemple":<br>
                            <div class="desc">06/03/2022 , 18:00 </div>
                         
                    </div>
                    <div class="upl"> 
                        <img src="../../assets/IMAGE/download.png" height="30"  >
                    </div>
                </div>
                </a>      
             <div class="cour">
                    <div class="left_cour"> 
                        <img src="../../assets/IMAGE/devoir.jpg" height="80">
                    </div>

                    <div class="info_cour">
                            devoir "exemple":<br>
                            <div class="desc">06/03/2022 , 18:00 </div>
                        
                    </div>
                    <div class="upl"> 
                        <img src="../../assets/IMAGE/download.png" height="30"  >
                    </div>
              </div>
                </div>
            </div>
         </div>
 
</body>
</html>