<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>USTHB-etudiant</title>
</head>
<body>
 <div class="container">
    <header>
        <nav>
           <h3> &ensp;Tele-Ens</h3><br>
            <ul class="lis"> 
                <li  ><a href="acceuil.html"><img src="../../assets/ICON/home.png" height="28" width="28" alt="home_img"> &ensp;Acceuil</a></li>
                <li ><a href="etudiant_cours.html"><img src="../../assets/ICON/book.png"  height="28" width="28" alt="cour_img"> &ensp;Cours</a></li>
                <li id="main"><a href="etudiant_devoir.html"><img src="../../assets/ICON/homework.png"  height="28" width="28" alt="Devoir_img"> &ensp;Devoir</a></li>
                <li><a href="UMail.html"><img src="../../assets/ICON/live.png" height="28" width="28" alt="live_img">&ensp;UMail</a></li>
    
            </ul>
            <ul class="list2"> 
                <li  ><a href="acceuil.html"><img src="../../assets/ICON/home.png" height="28" width="28" alt="home_img"></a></li>
                <li  ><a href="etudiant_cours.html"><img src="../../assets/ICON/book.png"  height="28" width="28" alt="cour_img"></a></li>
                <li id="main2"><a href="etudiant_devoir.html"><img src="../../assets/ICON/homework.png"  height="28" width="28" alt="Devoir_img"></a></li>
          
                <li><a href="UMail.html"><img src="../../assets/ICON/live.png" height="28" width="28" alt="live_img"></a></li>
    
            </ul>
           
             
            
        </nav>
        <div class="entete">
            <div class="top"><img   src="../../assets/ICON/logo.png" height="100"><br>
                 
                <img  id="profil"  src="../../assets/ICON/user.png" height="60">
                </div>
            <div class="matricule">
                Nom:
                <br>Prenom
                <br>Matricule:199999999999999</div>
        </div>
         </header>
     
    
    <div class="container_comment_cour">
        <div class="top_container_comment">
            <h1>Cour:bdd1</h1>
            <p>prof1 , 18 dec 2019</p>
            <hr>
            <br>
            <div class="ligne">
                <div class="comment_info">
                    <div><img src="../../assets/IMAGE/img_graduation.jpg" alt="" height="100"></div>
                    <div class="desc"><h3>Nom du pdf</h3><br><p>Word</p></div>
                </div>
                <div class="poster">
                  <p>Poster devoir</p><br>
                  <form method="POST">
                   <div>
                    <input type="file" id="file" name="devoir" >
                    <label for="file">
                        <span id="plus_devoir">&#43;</span> Poser le devoir
                    </label>
                    </div>
                    <button >Envoyer</button>
                  </form>
                </div>

            </div>
        </div>
   
        <div class="comment">
            <div class="appel_input_commentaire"><h3>Ajouter un commentaire</h3>il ya 30 commentaire</div>
            
            <div class="form_comment" >
            <form >
                <input type="text" placeholder="Comment.......................">
                <button type="submit" name="submit" >Envoyer</button>
            </form>
            </div>
        </div><br>
        <div class="commentaire">
            <div class="MSG">
                
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>
            <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>    <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>    <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>    <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>
            <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div class="cont">
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>
            <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>
            <div class="MSG">
                    <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
                <div>
                    <p>PROFIL 1 </p>
                    <div class="msg">ddd</div>
                </div>
               
            </div>
            <div class="MSG">
                <div class="img"><img src="../../assets/ICON/user.png" height="50"></div>
            <div>
                <p>PROFIL 1 </p>
                <div class="msg">ddd</div>
            </div>
           
        </div>
        
        </div> 
     
    </div>
 </div>
<script >/*comment*/
    let activation=document.querySelector('.appel_input_commentaire');
    let comment=document.querySelector('.form_comment');
    
    activation.onclick=function()
    {       
        comment.style.display="block";
    }
    </script>
</body>
</html>